[Desktop Entry]
Type=Application
Name=Yet Another Creature Collector Game Launcher
GenericName=Aniimo Installer
Comment=Install Aniimo and add it to Steam
Exec=yet-another-creature-collector-game-launcher
Icon=io.github.DJPoulter.YACCGL
Terminal=false
Categories=Game;
Keywords=aniimo;steam;proton;launcher;installer;
StartupNotify=true
