[Desktop Entry]
Type=Application
Name=NotAnotherCreatureLauncher
GenericName=Aniimo Installer
Comment=Install Aniimo and add it to Steam
Exec=not-another-creature-launcher
Icon=io.github.NotAnotherCreatureLauncher.Launcher
Terminal=false
Categories=Game;
Keywords=aniimo;steam;proton;launcher;installer;
StartupNotify=true
